.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.introduction div {
    padding-top: 1em;
}

.social img {
    display: inline-block;
    padding-left: 1em;
}

.about .social {
    text-align: center;
}

.share {
  text-align: right;
}
