@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300;600&family=Fira+Sans:wght@300&display=swap');

* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  background-color: white;
  margin: 0;
  padding: 0;
}

html {
  font-family: $serif-primary;
  overflow-y: scroll;

  // The font-size selected here defines what 1rem means. All other font sizes
  // should be in rems.
  font-size: $content-font-size;
  @media (max-width: $small-device-width) {
    font-size: $small-content-font-size;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  font-weight: normal;
  line-height: normal;
  text-transform: capitalize;
}

a {
  color: $blue;
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .5rem 2rem;
  padding: .5rem 1rem;
  min-width: 80%;

  p:last-child {
    margin-bottom: 0;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}
