nav.suggested {
    font-size: $small-content-font-size;

    ul {
        list-style: none;
    }
    
    p {
        font-size: $small-content-font-size;
    }

    h2 {
    }

    h3 {
        margin-bottom: 0;
    }
}

